body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#eaeded, #ffffff);
    color: #ab8f7c;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#kasia-img {
    width: 300px;
    border-radius: 10%;
    border: 6px solid #ab8f7c;
    margin-bottom: 10px;
}

#bday-age {
    background: #ab8f7c
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#profession {
    margin: 0;
    background: #ab8f7c;
    padding: 5px 10px;
    border-radius: 5px;
    color: #eaeded;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forest-section {
    margin-top: 50px;
}

.forest-title {
    margin-bottom: 10px;
}

.forest-hint {
    margin-top: 0;
}

#forest-img-harley {
    height: 600px;
}

.forest-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #ab8f7c;
    border-radius: 10px;
    background-image: url("images/green.jpg");
    background-size: cover;
}

#forest-img-orchestra:hover {
    background-image: url("images/orchestra.gif");
}

#forest-img-child:hover {
    background-image: url("images/child.gif");
}

#forest-img-taichi:hover {
    background-image: url("images/TAICHI.jpg");
}

#forest-img-badass:hover {
    background-image: url("images/badass.gif");
}

#forest-img-harley:hover {
    background-image: url("images/harley.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #0e76a8;
}

